*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
/* general */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    height: 500px;
    justify-content: center;
}

ul.nav-menu{
    width: 100%;
    box-shadow: 0 5px 10px rgba(43, 41, 41, 0.425);
    align-items: center;
    padding: 20px 0;
}

ul.nav-menu li{
    flex-basis: calc(100%/10);
}

ul.nav-menu li:not(:last-child){
    padding-right: 20px;
}

.logo{
    width: 100%;
    padding-right: 20px;
}

#arrow-down{
    font-size: 10px;
}

.btn{
    padding: 7px 10px;
    background-color: #eb008d;
    color: white;
    border-radius: 8px;
    font-weight: 400;
}

.dropdown-menu{
    position: absolute;
    width: 150px;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.568);
    box-shadow: 0 8px 7px rgba(17, 17, 17, 0.37);
    padding: 20px;
    top: 30px;
    left: 20%;
    transform: translateX(-50%);
    display: none;
}

.dropdown-menu ul li{
    padding: 10px;
}

.dropdown-menu.active{
    display: block;
}